* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Oswald', sans-serif;
}

li {
    list-style: none;
}

/* UTILITIES */
.black {
    background: #000;
}

.color-wh {
    color: #fff
}

.central {
    margin: 0 auto;
}

.container {
    padding: 10px;
    width: 90%;
    max-width: 1100px;
}

.flex {
    display: flex;
}

.in-flex {
    display: inline-flex;
}

.relative {
    position: relative;
}

.absolute {
    position: absolute;
}

.text-center {
    text-align: center;
}

/* MAIN-HEADER */
.main-header .container {
    justify-content: space-between;
    align-items: center;
}

    #search-input {
        padding: 5px;
    }

    #search-btn {
        padding: 5px;
        border-radius: 5px;
        background-color: red;
        color: #fff;
        outline: 0;
    }

/* MAIN-CONCENT-LIST */
.main-content-list {
    flex-wrap: wrap;
}

.main-content-list.failed::after {
    position: absolute;
    content: 'Nessun film o serie TV trovata';
    top: 100px;
    left: 100px;
    font-size: 200%;
    padding: 50px;
    height: 300px;
    width: 500px;
}

    .movie-card {
        margin: 10px;
        border: 2px solid #fff;
        font-size: 0;
        cursor: pointer;
    }

        .card-front {
            width: 342px;
            height: 513px;
            overflow: hidden;
        }

            .card-front .card-img {
                object-fit: cover;
                height: 100%;
                width: 100%;
            }

        .card-details-wrapper {
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
        }

            .movie-title-box:not(.active),
            .card-details {
                visibility: hidden;
                background-color: rgba(0, 0, 0, 0.8);
            }

            
            .movie-card:hover .movie-title-box,
            .movie-card:hover .card-details {
                visibility: visible;
            }

            .movie-title-box {
                height: 30%;
                padding: 10px 30px;
                justify-content: center;
                align-items: center;
            }

            .movie-title-box.active,
            .movie-title-box.active + .card-details {
                background-color: #000;
            }

            .movie-title-box.active::after {
                position: absolute;
                content: '';
                width: 80%;
                height: 30%;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                background: url('../img/no-image.jpg');
                background-size: cover;
                z-index: -1;
            }

                .movie-title {
                    font-size: 30px;
                    font-weight: 800;
                }

            .card-details {
                height: 70%;
                padding: 10px 30px;
                font-size: 20px;
            }

                .card-details > * {
                    margin-bottom: 10px;
                }

                .card-details .lang > img{
                    width: 30px;
                }

                .card-details .vote .fas.fa-star {
                    color: gold;
                }

/* DEBUG */
.test-area {
    background-color: orange;
}